version: '3.8'

services:
  web:
    build: .
    ports:
      - "8001:8001"
    env_file:
      - .env
    volumes:
      - ./App:/app
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             python manage.py runserver 0.0.0.0:8001"
    restart: unless-stopped

volumes:
  sqlite_data:
